


.box{
    width: 350px;
    height: 80px;
    background-color: blue;
    border: 3px solid yellow;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    animation-name:rightMovement;
    animation-duration:5s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}